<a href="https://colab.research.google.com/github/digvijaynalavade/The-Spark-Foundation-Internship/blob/main/TSF_T5_EDA_IPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Digvijay Pandurang Nalavade
the spark foundation task 5 \
EDA of IPL data set

# Import ibraries

In [ ]:
# usefull ibraries for analysis
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Read data

In [ ]:
# read the file 
matches = pd.read_csv("/content/drive/MyDrive/Projects DS/matches.csv")
deliveies = pd.read_csv("/content/drive/MyDrive/Projects DS/deliveries.csv")

In [ ]:
# copy the file
df = matches.copy()
df2 = deliveies.copy()

#About Data

**Fetch first five rows**

In [ ]:
df.head()

In [ ]:
df2.head()

**Columns of data set**

In [ ]:
df.columns

In [ ]:
df2.columns

**Information about dataset**

In [ ]:
df.info()
print("\n")
df2.info()

**Statistics of data set**

In [ ]:
df.describe()

In [ ]:
df2.describe()

In [ ]:
df.shape

In [ ]:
df2.shape

# Data Cleaning

**Find Duplicate values**

In [ ]:
df[df.duplicated()]
print("\n")
df2[df2.duplicated()]

In [ ]:
# 23 duplicate rows found in df2  so drop duplicate values in data set
df2.drop_duplicates(inplace=True)

**Find Missing values**

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
df2.isnull().sum(axis=1).sort_values(ascending=False)

**fill naan vales**

In [ ]:
# Find maximum match played city and replace with naan values
df["city"].value_counts()

In [ ]:
# Fill null values
df['city'].fillna("Mumbai",inplace=True)

In [ ]:
df['player_of_match'].value_counts(ascending=False)

In [ ]:
df['player_of_match'].fillna("CH Gayle",inplace = True)

In [ ]:
df['winner'].value_counts(ascending=False)

In [ ]:
df['winner'].fillna("Mumbai Indians",inplace = True)

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
# umpire3 have more number of missing values so this colum was delete in analysis
df.drop(columns={"umpire3"},inplace=True)

In [ ]:
# Find missing percentage of data
Misspercent_df2 = round(df2.isnull().sum().sort_values(ascending=False)/len(df2)*100,1)
Misspercent_df2

In [ ]:
# fielder, dismissal_kind, player_dismissed in this columns more than half data was missing so drop this columns
df2.drop(columns={'fielder', 'dismissal_kind', 'player_dismissed'},inplace=True)

In [ ]:
# rename the colums
df.rename(columns={"id":"match_id"},inplace=True)

In [ ]:
# join table using pandas merge function
data = pd.merge(df, df2, on='match_id', how='inner')

In [ ]:
# check data was join 
data.head()

# EDA

**Total Match Played**

In [ ]:
print(f"Total match played in all season:")
df["match_id"].count()

**Seasons of year**

In [ ]:
print(f"seasons Year :")
df['season'].unique()

**Season waise Total match was played**

In [ ]:
# using groupby function find number of mathes played in each season
Season_Matchplyed = df.groupby("season")["match_id"].count().sort_values(ascending=False)
print(Season_Matchplyed)
print("\n")
sns.countplot(df["season"])
plt.title("Season And Number Of Match plyed")
plt.xlabel("Season Year")
plt.ylabel("number of matches plyed")
plt.figuresize=12,10
plt.show()

**Top 5 citys where IPL was most time plays**

In [ ]:
top_citys_IPL_plyed = df['city'].value_counts().head()
print(top_citys_IPL_plyed)
print("\n")
top_citys_IPL_plyed.plot(kind="pie")
plt.title("Top citys where most play")
plt.xlabel("city")
plt.ylabel("number of matches plyed")
plt.figuresize=12,10
plt.show()

**Number of Teams In IPL**

In [ ]:
# Find unique Team
print("Number of Teams in IPL :")
df['team2'].nunique()

In [ ]:
# Team name
Team_name = pd.DataFrame(df['team1'].unique())
Team_name

**Team and Number of Toss win count**

In [ ]:
Toss_winer = df['toss_winner'].value_counts()
print("Toss_winer")
print("\n")
Toss_winer.plot()
plt.title("Team and Wint Count of Toss")
plt.xlabel("Team Name")
plt.ylabel("Number of Toss wins")
plt.xticks(rotation=30)
plt.rcParams['figure.figsize']=(15,8) 
plt.show()

**Toss Decision**

In [ ]:
Toss_decigion = pd.DataFrame(df.groupby(["toss_winner","toss_decision"])["toss_decision"].count())
Toss_decigion

**Winner**

In [ ]:
# create New DatFream
season_and_teams = pd.DataFrame(df.groupby(["season"])["winner"].value_counts().sort_values(ascending=False))
season_and_teams

**Top 5 player of match**

In [ ]:
top_player_of_match = df["player_of_match"].value_counts().head()
print("top_player_of_match")
print("\n")
top_player_of_match.plot(kind="bar")
plt.title("Top Player Of Match")
plt.xlabel("Player Name")
plt.ylabel("Number of Awarded")
plt.xticks(rotation =0)
plt.rcParams['figure.figsize']=(15,8) 
plt.show()

**Venue**

In [ ]:
Venue = df.groupby("city")["venue"].value_counts().sort_values(ascending=False)
print(Venue)

In [ ]:
print(Venue.head(10))
print("\n")
Venue.plot(kind="bar")
plt.show()

**Player and total runs in all season**

In [ ]:
Player_of_match_Runs = data.groupby("player_of_match")["total_runs"].sum().sort_values(ascending=False).head(10)
print("Player_of_match_Runs")
print("\n")
Player_of_match_Runs.plot(kind="bar")
plt.title("Top Player of match Runs")
plt.xlabel("Player Name")
plt.ylabel("total runs")
plt.xticks(rotation =0)
plt.rcParams['figure.figsize']=(15,8) 
plt.show()

In [ ]:
top_bowler = data.groupby("bowler")["ball"].sum().sort_values(ascending=False)
print(top_bowler)
print("top_bowler")
print("\n")
top_bowler.plot()
plt.title("Top Five bowler")
plt.xlabel("Player Name")
plt.xticks(rotation =0)
plt.rcParams['figure.figsize']=(15,8) 
plt.show()

In [ ]:
data.columns

**Home Ground of teams**

In [ ]:
team_list = list(data["team1"].unique())

In [ ]:
for team in team_list:
  print("\n")
  print(f"{team} and thir home Ground is")
  print(data.venue[data["toss_winner"]==team] [data["toss_winner"]==team].mode())